.double-td{
    width:400px;
}

.double-td td{
    width:50%;
}

.App-price{
    width:100%;
    margin-left: 85%;
   
}

.error-td{
    width:1px;
}

.error-message{
    color: red;
}

.darkbutton{
    width:30px;
    height:30px;
    text-align: center;
    margin-left: 15px;
    margin-right: 5px;
    padding-left: 30%;
    padding-right: 30%;
}
.darkbutton2{
    width:30px;
    height:30px;
    padding-left: 30%;
    padding-right: 30%;
    text-align: center;
}
.darkbutton2 text{
    
}